* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(#00537e, #3aa18e);
  box-sizing: border-box;
}
